.git
.gitignore
.vscode

templates/*

docker-build-debug.sh
docker-build-release.sh
docker-run-debug.sh
docker-run-release.sh
docker-shell-container.sh
docker-shell-image.sh

Dockerfile-Debug
Dockerfile-Release

kinesis-log-consumer.code-workspace
readme.md
vscode-using-virtual-environment.png
